@import "partials/fonts";
@import "partials/index";
@import "partials/about_us";
@import "partials/contact";
@import "partials/sms";
@import "partials/ticket";
@import "partials/pricelist";
@import "partials/footer";
@import "partials/popUp-banner";
@import "partials/o_nama2";















body{
    background:url("https://drive.google.com/uc?id=14QkMExhWPTVnIr74gDlPQ0tYuCorQaMx");
    background-size: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
}
