@import "partials/fonts";
@import "partials/index";
@import "partials/about_us";
@import "partials/contact";
@import "partials/sms";
@import "partials/ticket";
@import "partials/pricelist";
@import "partials/footer";














body{
    background:url("https://drive.google.com/uc?id=14QkMExhWPTVnIr74gDlPQ0tYuCorQaMx");
    background-size: no-repeat;
    position: relative;

}
