.o-nama{
  background: linear-gradient(to right, #000033, #4da6ff);


  .onama{
    background: linear-gradient(to right, #000033, #4da6ff);
    border-top: 3px solid #ff5c33;

    p{
      font-family: 'Judson', serif;
      font-size: 20px;
      margin-left: 10px;
      color: white;
      text-align: center;

    }


  }
  .onama3{
    background: linear-gradient(to right, #000033, #4da6ff);
    border: solid 2px #ff5c33;
    border-bottom: none;
    .container-fluid{
      .row{
        .tabela{
        

        }
      }
    }
    caption{
      color: white;
      text-align: center;
    }
    table{
      color: white;
      margin-left: 30px;
      margin-top: 10px;

      th{
        text-align: center;
      }
    td{
      border: solid 2px white;
      border-collapse: collapse;
      text-align: center;
      margin-top: 5px;
      margin-bottom: 20px;
      padding: 2px;

    }

    }
    .crvena{
      background-color: red;
    }
    .zuta{
      background-color: yellow;
      color: black;
    }

.mapa1{


    margin: 10px 15px 10px 0px;

    }
    .mapaa{
      cursor: zoom-in;
    }





  }
}
