.kontakt{
  margin-bottom: 150px;


  h1{
    font-size: 36px;
    font-family: 'Abril Fatface', cursive;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  h2{
    font-family: 'Abril Fatface', cursive;
  }
  h4{
    font-family: 'Abril Fatface', cursive;
    font-size: 36px;
    margin-bottom: 55px;
  }
  p{
    font-family: 'Judson', serif;
    font-size: 18px;
  }
  .email{
    font-size: 20px;
    color:blue;

  }
  .error{
    color: red;
  }

}
